---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$content-width: 42rem;
$gutter:        1.25rem;
$on-palm:       40rem;
$on-laptop:     48rem;

@import
  "base",
  "syntax-highlighting",
  "table",
  "layout"
;
