---
layout: default-ja
---

<div class="home">

  <h1 class="page-heading">最新の投稿</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.language == 'ja' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y年%_m月%e日" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">RSSで<a href="{{ "/feed.xml" | prepend: site.baseurl }}">フォロー</a></p>

</div>
