---
layout: default-ja
---

<div class="home">

  <h1 class="page-heading">最新の投稿</h1>

  {% assign posts = site.posts | where: "language", "ja" %}
  {% assign years = posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in years %}
  <section class="post-year">
    <h2 class="post-year-heading">{{ year.name }}年</h2>
    <ul class="post-list">
      {% for post in year.items %}
      <li>
        <time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-m月%-d日" }}</time>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endfor %}

  <p class="rss-subscribe">RSSで<a href="{{ "/feed.xml" | prepend: site.baseurl }}">フォロー</a></p>

</div>
